.bg{
  background-image: url('../../assets/img/background.jpg');
  position: fixed; 
  top: 0; 
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.transparente{
    background:transparent !important;
}